{% extends 'base_template.html' %} {% block title %}
<title>Пост</title>
{% endblock title %} {% block content %}
<!-- Вміст сторінки -->
<div class="container">
  <h2 class="my-4 text-center">Новий пост</h2>
  <form action="" method="post" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label"
        >Назва</label
      >
      <input
        required name="title"
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
      />
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label"
        >Текст</label
      >
      <textarea
        required
        name=text
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>
    <div class="mb-3">
    <label for="formFile" class="form-label">Файл картинки</label>
    <input name = "image" class="form-control" type="file" id="formFile">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Категорія</label
        >
        <input
          required name="category"
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
        />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

{% endblock content %}
