{% extends 'base_template.html' %}
{% block title %}
        <title> симулятор логіка </title>
    {% endblock title %}
{% block content %}
    <p>Hello Logika!</p>
    <h2>Hello <b>Logika!</b></h2>
    <h3><i>Hello</i> Logika!</h3>
    <img src="https://static.tildacdn.com/tild3662-6335-4563-a335-626137323232/Subtract.svg" alt="logika logo" width="500" height="50">
    <ul>
        <li><a class="my-btn" href="http://127.0.0.1:5000">На головну</a></li>
        <li><div><a href="https://learn.logikaschool.com/course">Logika site</a></div></li>
    </ul>
    {% endblock content %} 